<h1>Interviews#index</h1>

<ul class="interviews">
  <% if @interviews.any? %>
    <% @interviews.each do |interview| %>
      <li>
        <%= interview.scheduled_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
        <%= interview.availability %>
        <%= link_to '編集', edit_user_interview_path(@user.id, interview.id) %>
        <%= link_to '削除', user_interview_path(@user.id, interview.id), method: :delete %>
      </li>
    <% end %>
  <% else %>
    面接日程がありません。
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to '面接日程作成', new_user_interview_path(@user.id) %>
<%end%>
