<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_for(@user) do |f| %>
  <%= f.text_field :name %>
  <%= f.date_field :date_of_birth %>
  <%= f.select :gender, User.genders.keys.to_a, {} %>
  <%= f.text_field :school %>
  <%= f.submit "Update my profile" %>
<% end %>
