<h1>Users#edit</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :date_of_birth %><br>
  <%= f.date_field :date_of_birth %><br>
  <%= f.label :gender %><br>
  <%= f.select :gender, User.genders_i18n.keys.map {|k| [User.genders_i18n[k], k]} %><br>
  <%= f.label :school %><br>
  <%= f.text_field :school %><br>
  <%= f.submit "プロフィールを更新" %><br>
<% end %>
