<% provide(:title, 'プロフィール') %>
<h1>Users#edit</h1>

<%= form_for(@user) do |f| %>
  <%= f.text_field :name %><br>
  <%= f.date_field :date_of_birth %><br>
  <%= f.select :gender, User.genders.keys.to_a, {} %><br>
  <%= f.text_field :school %><br>
  <%= f.submit "プロフィールを更新" %><br>
<% end %>
