<h1>Users#edit</h1>

<%= form_for(@user) do |f| %>
  <%= f.label '名前' %><br>
  <%= f.text_field :name %><br>
  <%= f.label '生年月日' %><br>
  <%= f.date_field :date_of_birth %><br>
  <%= f.label '性別' %><br>
  <%= f.select :gender, User.genders.keys.to_a, {} %><br>
  <%= f.label '学校' %><br>
  <%= f.text_field :school %><br>
  <%= f.submit "プロフィールを更新" %><br>
<% end %>
